:root {
  --blue: #2a6fdd;
  --Black: #1a1a1a;
  --grey: #74787c;
  --green: #17be74;
  --lightGrey: #e8e8e8;
  --BgBlack: #0b0301;
  --Orange: #f94d1c;
  --Bglight: #f7f5f4;
  --BgDark: #0f0f0f;
  --offwhite: #f3f3f3;
}

@media only screen and (min-width: 1920px) {}

@media (max-width: 1399.98px) {
  
  .navbar .container-fluid{
    max-width: 1140px;
  }
    
 }

@media only screen and (min-width: 1600px) and (max-width: 1900px) {}

@media only screen and (min-width: 1200px) and (max-width: 1280px) {

}



@media (max-width: 1199.98px) { 
  
  .navbar .container-fluid{
    max-width: 100%;
  }
  
    .defaultPadding {
      padding: 80px 0 0;
    }

    .endPadding{
      padding: 80px 0;
    }

.display-3 {
  font-size: 60px;
}
.secH {
  font-size: 36px;
}

.TreeimgWrap .Img3 {
  width: 100%;
  text-align: center;
  margin-top: 24px;
}
    .mapSection.endPadding {
        padding-bottom: 100px;
    }
    .galleryCategories {
      margin-bottom: 120px;
    }
    .introText {
      margin: 0px 0px 0px -100px;
      padding: 50px 60px 45px 60px;
    }
    .pricingCardsSection {
      margin-top: -178px;
  }
  .Separator2 {
    padding-bottom: 162px;
  }
 }

@media (max-width: 991.98px) { 
  footer .row {
    row-gap: 20px;
  }
  footer .about a:last-of-type {
    margin-bottom: 0;
  }
  footer ul li {
    margin-bottom: 5px;
  }
.copyrightSection .container>.row{
  justify-content: center;
  text-align: center;
  flex-wrap: wrap-reverse;
}
.copyrightSection ul{
  justify-content: center;
}


footer .container>.row{
  gap: 0%;
} 

.featuredGallery .container>.row{
  row-gap: 24px;
}
.footer .container>.row {
  row-gap: 40px;
}

.imagePart{
  padding-top: 30px;
  padding-bottom: 30px;
  position: static;
  height: unset;
  overflow: hidden;
}
.imagePart img{
  width: 100%;
  height: auto;
}
.aboutPart {
  padding: 40px;
  box-shadow: none;
  margin-right: 0;
  z-index: 5;
}

.ActionCard .row{
  flex-direction: column;
  row-gap: 20px;
}
.ActionCard .row .col{
  width: 100%;
  text-align: center;
}
.aboutMeSection {
  margin-bottom: 80px;
}

.mapSection.endPadding {
  padding-bottom: 140px;
}
.galleryCategories {
  margin-bottom: 160px;
}
.introText {
  margin: 0px 0px 0px  0px;
  padding: 24px;
  background-color: #FDFDFD;
  box-shadow: 0px 0px 87px 0px rgba(0, 0, 0, 0.1);
}
.PackageDetails {
  padding: 50px;
}
.imgMargin {
  width: 100%;
  max-width: 100%;
  height: auto;
  overflow: hidden;
  aspect-ratio: 12 / 18;
  margin: 0px 0 30px;
}
.packagesRow{
  flex-direction: column-reverse;
}
.packageDesc {
  padding: 45px 24px 24px;
}

.tagBrick {
  text-wrap: initial;
  width: 84%;
  text-align: center;
}



 }

 @media screen and (max-width: 912px) {
  footer ul li::before {
    display: none;
  }
  footer .fourthH {
    text-align: center;
  }

  
  .footerLinks {
    width: 100%;
  }

 }


@media (max-width: 767.98px) {


.display-3 {
  font-size: 32px;
}
.secH {
  font-size: 28px;
}
.therdH {
  font-size: 22px;
}
.fourthH {
  font-size: 18px;
  font-weight: 600;
}

.defaultPadding {
  padding: 50px 0 0;
}
.endPadding{
  padding: 50px 0;
}

.CustomersReviews .container-fluid>.row{
  row-gap: 24px;
  align-items: center !important;
  justify-content: center !important;
  flex-direction: column;
}

.CustomersReviews .col{
  max-width: 100%;
}
.formSection{
  padding: 80px 30px 80px 30px;
}
.footer.defaultPadding{
  padding: 34px 0;
}


.footer .secH{
  text-align: center;
  margin-bottom: 24px;
}
.footer .container>.row{
  justify-content: center;
  row-gap: 40px;
}
footer ul a {
  display: table;
  margin: auto;
  max-width: 298PX;
  text-align: center;
}

.footer .social-icons{
justify-content: center;
}
.footer .exploreLinks ul li{
text-align: left;
}

.bigBtnWrap{
  justify-content: center;
  }
  .styledHeading.secH.C_head span {
    padding: 5px;
}

.tagBrick {
  width: auto;
}
.Separator2 {
  padding-bottom: 162px;
}

.Separator2 {
  background: linear-gradient(#00000098, #00000098),
  url("../image/PricingPics/pricing2 (1).jpg");
  background-repeat: no-repeat, no-repeat;
  background-size: cover, cover ;
  background-position: center, -300px;
}

 }

@media (max-width: 575.98px) {
  .footer-brand{
    display: table !important;
    margin: auto;
  }
  .footer {
    text-align:center;
  }
 
  .footer ul:not(.footer .locationSection ul) {
    max-width: 218px;
    margin: auto;
  }

.reedesignWrap{
  padding: 20px;
  background: none;
  aspect-ratio: unset;
}

.reedesignWrap .fourthH{
  color: #ffffff;
}
.reedesignWrap p{
  color: #ffffff;
  margin-bottom: 20px;
}

.reedesignWrap .LinkStyle{
  color: #ffffff;
}
.reedesignWrap .LinkStyle::before{
  background-color: #ffffff;
}
.reelDesign{
  padding: 50px 0;
  background: linear-gradient(#0000008a, #0000008a),
  url("../image/bg_2-1.jpg");
background-position: center, center;
background-attachment: initial;
background-repeat: no-repeat, no-repeat;
background-size: cover, cover;
}
.reedesignWrap>a{
  display: none;
}
.reedesignWrap .slider{
  margin-bottom: 0;
}
.formSection{
  padding: 80px 20px 80px 20px;
}
.formWrapCulumn{
  padding: 50px 40px;
}

.ActionCard .row .secH{
font-size: 20px;
}
.ActionCard {
  padding: 30px;
  max-width: 90%;
}
.aboutMeSection {
  margin-bottom: 40px;
}
.footer.aboutPage0 {
  padding-top: 100px;
}

.textPart {
  padding: 0px;
  padding-top: 24px;
}
.GetInTouch {
  padding: 30px;
  margin-bottom: 100px;
}
 }

@media only screen and (max-width: 479px) {
  .mapSection.endPadding {
    padding-bottom: 100px;
  }
  .galleryCategories {
    margin-bottom: 140px;
  }
  .GetInTouch {
    padding: 12px;
    margin-bottom: 100px;
  }
  .tagBrick {
    width: 74%;
  }
}